<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CIFilterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C38B2AB11D8E358A0085B394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C38B2AC51D8E358B0085B394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C38B2AD01D8E358B0085B394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
